<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="silverbackgarden.example.luga">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2png"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LUGA"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="LUGA Login"
            android:theme="@style/Theme.LUGA" />
        <activity
            android:name=".RegisterActivity"
            android:label="LUGA Register"
            android:theme="@style/Theme.LUGA" />
        <activity
            android:name=".ProfileActivity"
            android:label="LUGA Profile"
            android:theme="@style/Theme.LUGA" />
        <activity android:name=".ProfileEditActivity"
            android:label="LUGA Edit Profile"
            android:theme="@style/Theme.LUGA" />
        <activity android:name=".CentralActivity"
            android:label="LUGA"
            android:theme="@style/Theme.LUGA" />
        <activity android:name=".PreLoginActivity"
            android:label="LUGA"
            android:theme="@style/Theme.LUGA" />
        <activity
            android:name=".StepDataViewActivity"
            android:label="Step Data View">
        </activity>

    </application>

</manifest>