<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:name=".Acteamity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/no_text_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LUGA"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Acteamity Login"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".RegisterActivity"
            android:label="Acteamity Register"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".RegisterStep1Activity"
            android:label="Acteamity Register - Step 1"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".RegisterStep2Activity"
            android:label="Acteamity Register - Step 2"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ProfileActivity"
            android:label="Acteamity Profile"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ProfileEditActivity"
            android:label="Acteamity Edit Profile"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".CentralActivity"
            android:label="Acteamity"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".PreLoginActivity"
            android:label="Acteamity"
            android:theme="@style/Theme.LUGA"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".StepDataViewActivity"
            android:label="Step Data View"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

    </application>

</manifest>